{% extends 'base.html.twig' %}

{% block title %}Mon panier{% endblock %}

{% block body %}
<div class="panier border">
    <div>
        <table class="table border border-warning">
            <thead>

                <tr>
                    <th scope="col"></th>
                    <th scope="col">Produit</th>
                    <th scope="col">Quantité</th>
                    <th scope="col">Prix</th>
                    <th scope="col">Total</th>
                </tr>
            </thead>
            <tbody>
                {% set total = null %}
                {% for entree in panier %}
                <tr>

                    <td><img src="{{asset('uploads/euro.png')}}" alt="" style="width: 2rem;"></td>
                    <td>{{entree.produit.nom}}</td>
                    <td> {{entree.quantite}}</td>
                    <td>{{entree.produit.MontantTtc}}€ </td>
                    <td>{{ entree.produit.MontantTtc * entree.quantite}}€ </td>

                    <form action="{{ path('remove_ligne_panier', {produit: produit.id}) }}" method="post">

                        <td><button type="submit">-</button></td>
                    </form>
                    <td><i class=" bi bi-trash"></i></td>

                    <form action="{{ path('add_ligne_panier', {produit: produit.id}) }}" method="post">
                        <td><button>+</button></td>
                    </form>
                    <td>{{total}} &nbsp;</td>
                </tr>
                <tr>
                    <td scope="row"></td>
                    <td>{{panier | length}}</td>
                </tr>
                <p> {% set total = total + (entree.produit.montantTtc * entree.quantite) %}€</p>
                {% else %}
                <h5 class="oups"> Oups ! Votre panier est vide</h5>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div>
        <button type="button" class="btn btn-primary"> <a href="{{path('recapitulatif')}}">Valider le panier</a></button>
        <button type="button" class="btn btn-primary"> <a href="{{path('vider_panier')}}">Vider le panier</a></button>
    </div>


</div>

{% endblock %}