{% extends 'base.html.twig' %}

{% block title %}Mon panier{% endblock %}

{% block body %}
{% if panier|length > 0 %}
<div class="panier">
    <div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Produit</th>
                    <th scope="col">Quantité</th>
                    <th scope="col">Prix</th>
                    <th scope="col">Total</th>
                </tr>
            </thead>
            <tbody>
                {% set total = null %}
                {% for entree in panier %}
                <tr>
                    <td>
                        </th><img src="{{asset('uploads/euro.png')}}" alt="{{produit.nom}}" style="width: 2rem;"></th>
                    </td>
                    <td>{{entree.produit.nom}}</td>
                    <td> {{entree.quantite}}</td>
                    <td>{{entree.produit.MontantTtc}}€ </td>
                    <td>{{ entree.produit.MontantTtc * entree.quantite}}€ </td>
                    <td>
                        <a href="{{path('add_ligne_panier', {'id': entree.produit.id})}}"><i class="bi bi-cart-plus"></i></a>
                        <a href="{{path('remove_ligne_panier', {'produit':entree.produit.id})}}"><i class="bi bi-cart-dash"></i></a>
                    </td>
                </tr>
                {% set total = total + (produit.montantTtc * entree.quantite) %}
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="text-right mb-5">
        <b>Nombre de produits: {{panier|length}}</b><br>
        <b> TOTAL: &nbsp;{{total}} &nbsp; € </b>
    </div>

    <div>
        <button type="button" class="btn btn-primary"> <a href="{{path('recapitulatif')}}">Valider le panier</a></button>
        <button type="button" class="btn btn-primary"> <a href="{{path('vider_panier')}}">Vider le panier</a></button>
    </div>
</div>
{% else %}
<h5 class="oups"> Oups ! Votre panier est vide</h5>
{% endif %}
{% endblock %}