{% extends 'base.html.twig' %}

{% block title %}Mon panier{% endblock %}

{% block body %}


<div class="example-wrapper">
    <h1>Panier</h1>
    <table class="table table-striped table-inverse table-responsive">
        <thead class="thead-inverse">
            <tr>
                <th></th>
                <th>Article</th>
                <th>Quantité</th>
                <th>Prix</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                {% for entree in panier %}
                <img href="#" alt="">
                <td scope="row">{{entree.produit.nom}}</td>
                <td>{{entree.quantite}}</td>
                <td>{{entree.produit.MontantHt}}</td>
                <td>{{entree.quantite * entree.produit.MontantHt * (entree.produit.tva /100 + 1)}} </td>
                {% else %}
                <h5>Votre panier est vide</h5>
                {% endfor %}
            </tr>
            <tr>
                <td scope="row"></td>
                <td></td>
                <td></td>
            </tr>
        </tbody><br>
        <a href="{{path('app_adresse_livraison_index')}}">Valider le panier</a>
        <a href="{{path('vider_panier')}}">Vider le panier</a>
    </table>
</div>
{% endblock %}