{% extends 'base.html.twig' %}

{% block title %}Mon panier{% endblock %}

{% block body %}
<div class="text-center m-3">
    <h1>Mon panier</h1>
    <i> Les produits que vous avez ajouté à votre panier </i>
</div>
<hr>

<div class="container mt-5">
    <table class="table mt-4">
        <thead>
            <tr>
                <th scope="col">Produit</th>
                <th></th>
                <th scope="col">Quantité</th>
                <th scope="col">Prix</th>
                <th scope="col">TVA</th>
                <th scope="col">Total</th>
            </tr>
        </thead>
        <tbody>
            {% set total = null %}
            {% for produit in panier %}

            <tr>
                <th> <img src="/uploads/{{produit.produit.image}}" alt="image produit {{produit.produit.nom}}" style="width:35px;"></th>
                <th>{{ produit.produit.nom}}</th>

                <td>{{ produit.quantite}}</td>
                <td>{{ produit.produit.montantHt * 1.20}} €</td>
                <td>{{ produit.produit.montantHt * 1.20 }} €</td>
                <td>{{ (produit.produit.montantHt * produit.quantite) * 1.2}} €</td>

                <td><a href="#"><img src="{{asset('icons/plus.png')}}" alt="supprimer" style="width:18px ;"></a></td>

                <td><a href="{{path('del_ligne-panier')}}"><img src="{{asset('icons/trash.png')}}" alt="supprimer" style="width:18px ;"></a></td>


                <td><a href="#"><img src="{{asset('icons/minus.png')}}" alt="supprimer" style="width:18px ;"></a></td>
            </tr>

            {% set total = total + (produit.produit.montantHt * produit.quantite)*1.20 %}
            {% endfor %}

        </tbody>
    </table>
    <div class="text-center">
        <b>Total : {{total}} €</b> <br>
        <b> Total de mon panier : {{panier|length}}</b>
    </div class="d-flex mb-5">
    <a class="btn btn-primary mt-4"> Valider mon panier {{total}} €</a>
    <a href="#" class="btn btn-info mt-4">Vider</a>

</div>

{% endblock %}