{% extends 'base.html.twig' %}

{% block title %}connexion{% endblock %}

{% block body %}
<div class="my-formular">

    <form method="post" class="">

        {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>

        {% endif %}

        {% if app.user %}
        <!-- <div class="mb-3 ">

            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div> -->
        {% endif %}
        <div class="my-formular">
            <h3 class=" mb-3 font-weight-normal text-center ">Connectez vous</h3>
            <label for="inputEmail">Votre email</label>
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>

            <label for="inputPassword">Votre mot de passe</label>
            <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>


            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" name="_remember_me"> Se souvenir de moi </input>
                </label>
            </div>


            <button class="btn btn-block btn-info" type="submit">
                Connexion
            </button>
            <hr>
            <a href="{{ path('app_forgot_password_request') }}" class="nav-link link-style">Mot de passe oublié ?</a>


            <a href="{{path('register')}}" class="nav-link link-style">Créer un compte</a>


    </form>
</div>
</div>

{% endblock %}