{% extends 'base.html.twig' %}

{% block title %}Nouveau compte{% endblock %}

{% block body %}
{% for flash_error in app.flashes('verify_email_error') %}
<div class="alert alert-danger" role="alert">{{ flash_error }}</div>
{% endfor %}
<div class="my-formular example-wrapper">
    <h1 class="text-center">Création de compte</h1>

    {{ form_start(registrationForm) }}
    {{form_row(registrationForm.nom)}}
    {{form_row(registrationForm.prenom)}}
    {{form_row(registrationForm.dateNaissance)}}
    {{form_row(registrationForm.telephone)}}
    {{ form_row(registrationForm.email) }}
    {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
    {{ form_row(registrationForm.agreeTerms) }}
    <div class="d-flex">
        <button type="submit" class="btn btn-primary" title="ps: nous ne transférons pas vos données personnelles à des tiers ">Inscription</button>
        <p class="m-2">En cliquant sur envoyer je reconnais avoir lu et compris <a href="{{path('app_cguv')}}" title="ps: nous ne transférons pas vos données personnelles à des tiers ">les CGUV et je les accepte.</a></p>
        {{ form_end(registrationForm) }}
    </div>
</div>
{% endblock %}