{% extends 'base.html.twig' %}

{% block title %}The boutiq ! | Mon compte{% endblock %}

{% block body %}

<div>
    <div>
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item current-page">Mon compte</li>
            </ol>
        </nav>
    </div>
</div>

<div>
    <h1 class="my-heading mt-5">Bonjour <strong> {{ app.user.prenom }}!</strong> <br> Bienvenue sur ton espace personnel </h1>
</div>
<div class="my-account">
    <a href="{{path('app_commande_index')}}" class=" nav-link link-style">HISTORIQUE ET DÉTAILS DE MES COMMANDES</a>
    <a href=" {{path('app_adresse_facturation_index')}}" class=" nav-link link-style">MES ADRESSES FACTURATION</a>
    <a href="{{path('app_adresse_livraison_index')}}" class=" nav-link link-style">MES ADRESSES DE LIVRAISON</a>
    <a href="{{path('user', {id: app.user.id})}}" class=" nav-link link-style">MES INFORMATIONS PERSONELLES</a>
    <a href="{{ path('mes_retours') }}" class=" nav-link link-style">MES RETOURS</a>
</div>



{% endblock %}