{% extends 'base.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block body %}

<div>
    <div>
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{path('index')}}">Accueil</a></li>
                <li class="breadcrumb-item current-page">Mon compte</li>
            </ol>
        </nav>
    </div>
</div>
<div>
    <ol>
        <li>{{app.user.nom}}</li>
        <li>{{app.user.prenom}}</li>
        <li>{{app.user.dateNaissance ? app.user.dateNaissance|date('d-m-Y') : '' }}</li>
        <li>{{app.user.telephone}}</li>
        <li>{{app.user.email}}</li>

    </ol>

</div>

{% endblock %}