{% extends 'base.html.twig' %}

{% block title %}produit{% endblock %}

{% block body %}
<div class="my-product">


    <div class="picture-accordion">
        <img src="https://picsum.photos/420" alt="image-produit">
        {% for produit in produits %}
        <div class="my-accordion">
            <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                            Decription
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                        <div>
                            {{ produit.resume }}
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Livraison et retour
                        </button>
                    </h2>
                    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            Déscription detaillée
                        </button>
                    </h2>
                    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="my-product">
        <h1>Produits</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>MontantTtc</th>

                </tr>
            </thead>
            <tbody>
                {% for produit in produits %}
                <tr>

                    <td>{{ produit.nom }}</td>
                    <td>{{ produit.montantHt *(produit.tva /100 + 1) }} €</td>


                    {% if app.user and produit.stock > 0  %}


                    <form action="{{path('app_add', {produit: produit.id}) }}" method="POST">
                        <input type="number" name="quantite" id="quantite" min="1" max="{{produit.stock}}" step="1" placeholder="Quantité" value="1" class="input-quantite" required>
                        <button type="submit" class="my-button">
                            <i class="fa fa-shopping-cart " aria-hidden="true"></i>Ajouter
                        </button>
                    </form>
                    <form action="">
                        <div class="right__controllers">
                            <div class="buttons">
                                <span id="moins"><img src="images/icon-minus.svg" alt="moins logo"></span>
                                <span id="counter">0</span>
                                <span id="plus"><img src="images/icon-plus.svg" alt="plus logo"></span>
                            </div>
                            <input type="number" name="quantite" id="quantite" min="1" max="{{produit.stock}}" step="1" placeholder="Quantité" value="1" class="input-quantite" required>
                            <button id="addArticle"><img src="images/icon-cart-white.svg" alt=""> Add to cart</button>
                        </div>
                    </form>
                    {% elseif app.user and produit.stock == 0 %}
                    <td class="text-danger">Rupture de stock</td>
                    {% else %}


                    {% endif %}
                    {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('app_produit_show', {'id': produit.id}) }}">show</a>
                    <a href="{{ path('app_produit_edit', {'id': produit.id}) }}">edit</a>
                    {% endif %}
                    </td>
                </tr>
                {% else %}
                <tr>
                    <td colspan="9">no records found</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <form action="{{path('app_add', {produit: produit.id}) }}" method="$_POST">
        <input type="number" name="quantite" id="quantite" min="1" max="{{produit.stock}}" step="1" placeholder="Quantité" class="input-quantite">
        <a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <i class=" fa fa-shopping-cart disabled" aria-hidden="true"></i>Ajouter
        </a>

    </form>
    {% endfor %}

</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h5>
                    Connectez-vous pour ajouter un produit au panier
                </h5>
            </div>
            <div class="modal-footer">
                <a class="nav-link link-style" href="{{path('login')}}">Connexion</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}