{% extends 'base.html.twig' %}

{% block title %}Produit index{% endblock %}

{% block body %}
<h1>Produits</h1>
<div class="my-formular">
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Asin</th>
                <th>Ean</th>
                <th>Nom</th>
                <th>Description</th>
                <th>Stock</th>
                <th>MontantHt</th>
                <th>MontantTtc</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
            {% for produit in produits %}
            <tr>
                <td>{{ produit.id }}</td>
                <td>{{ produit.asin }}</td>
                <td>{{ produit.ean }}</td>
                <td>{{ produit.nom }}</td>
                <td>{{ produit.description }}</td>
                <td>{{ produit.stock }}</td>
                <td>{{ produit.montantHt }}</td>
                <td>{{ produit.montantTtc }}</td>
                <td>
                    <a href="{{ path('app_produit_show', {'id': produit.id}) }}">show</a>
                    <a href="{{ path('app_produit_edit', {'id': produit.id}) }}">edit</a>
                </td>
            </tr>
            {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<a href="{{ path('app_produit_new') }}">Create new</a>


{% endblock %}