{% extends 'base.html.twig' %}

{% block title %}produit{% endblock %}

{% block body %}
<div class="my-product">



</div>
<!-- //modal si un visiteur veut rajouter un produit au panier -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h5 class="text-center">
                    Connectez-vous pour ajouter un produit au panier
                </h5>
            </div>
            <div class="modal-footer">
                <a class="nav-link link-style" href="{{path('login')}}">Connexion</a>
            </div>
        </div>
    </div>
</div>
<div class="row my-product-container">
    {% for produit in produits %}
    <div class="col-md-4">
        <div class="my-product text-center">
            <h4>{{produit.nom}}</h4>
            <!-- <span class="product-subtitle">{{produit.ean}}</span> -->
            <a href="{{path('app_produit_show', {'id': produit.id}) }}"> <img src="https://www.cdiscount.com/pdt2/1/1/1/1/1200x1200/auc5065010060111/rw/cire-de-soja-2kg-premium-sans-ogm-et-100-natu.jpg" alt="{{produit.nom}}" class="img-fluid my-picture">
            </a>
            <img src="{{produit.image}}" alt="" style="width: 100px;">
            {% if  produit.stock > 0  %}
            <span class="product-price">{{ produit.montant|number_format(2) }} €</span>
            <form action="{{path('add_panier', {'id': produit.id}) }}" method="POST">
                <div class="input-button">
                    <input type="number" name="quantite" id="quantite" min="1" max="{{produit.stock}}" step="1" placeholder="Quantité" value="1" class="input-quantite" required>
                    <button type="submit" class="btn btn-primary">
                        <i class="fa fa-shopping-cart " aria-hidden="true"></i>Ajouter
                    </button>
                </div>
            </form>
            {% elseif app.user and produit.stock == 0 %}
            <td class="text-danger">Rupture de stock</td>
            {% endif %}

        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}