{% extends 'base.html.twig' %}

{% block title %}{{produit.nom}}{% endblock %}

{% block body %}
<div>
    <div class="my-product-detail">
        <div class="my-product text-center">
            <img src="{{ asset('uploads/') ~ produit.image  }}" alt="{{produit.nom}}" class="img-fluid my-picture" style="width:380px ;">
        </div>
        <div class="detail-product-right">
            <h5>{{produit.nom}}</h5>
            <em>{{produit.title}}</em>
            <hr>
            <span class="product-subtitle"> EAN : {{produit.ean}}</span>
            {% if  produit.stock > 0  %}
            <div class="d-flex">
                <span class="product-price">{{ produit.montant|number_format(2) }} €</span>
                <form action="{{path('add_panier', {'id': produit.id}) }}" method="POST">
                    <div class="input-button">
                        <button type="submit" class="btn btn-info">
                            <i class="fa fa-shopping-cart " aria-hidden="true"></i>Ajouter
                        </button>
                    </div>
                </form>
            </div>
            <div class="description">
                <h3>Déscription</h3>
                <p>{{produit.description}}</p>

            </div>
            {% endif %}
        </div>
    </div>
</div>






{% endblock %}