{% extends 'base.html.twig' %}

{% block title %}{{produit.nom}}{% endblock %}

{% block body %}
<div>
    <div class="my-product-detail">
        <div class="my-product text-center">
            <a href=""> <img src="{{ asset('uploads/') ~ produit.image  }}" alt="{{produit.nom}}" class="img-fluid my-picture" style="width:380px ;">
                <button id="modal-open">fff</button>
            </a>
        </div>
        <div class="detail-product-right">
            <h5>{{produit.nom}}</h5>
            <em>{{produit.title}}</em>
            <hr>
            <span class="product-subtitle"> EAN : {{produit.ean}}</span>
            {% if  produit.stock > 0  %}
            <div class="d-flex">
                <span class="product-price">{{ produit.montant|number_format(2) }} €</span>
                <form action="{{path('add_panier', {'id': produit.id}) }}" method="POST">
                    <div class="input-button">
                        <button type="submit" class="btn btn-primary">
                            <i class="fa fa-shopping-cart " aria-hidden="true"></i>Ajouter
                        </button>
                    </div>
                </form>
            </div>
            <div class="description">
                <h3>Déscription</h3>
                <p>{{produit.description}}</p>
                <p> <a href="#" id="modal-open">Agrandir</a> </p>
            </div>
            {% endif %}
        </div>
    </div>
</div>
<!-- modal -->
<div class="mon-modal" id="myModal">


    <div class="mon-modal-content">
        <a href="{{path('app_produit_show', {'id': produit.id}) }}" id="modal-bttn"> <img src="{{ asset('uploads/') ~ produit.image  }}" alt="{{produit.nom}}" class="modal-picture" style="width:380px ;">
        </a>
        <span class="close">
            &times;

        </span>
    </div>
</div>




{% endblock %}