{% extends 'base.html.twig' %}

{% block title %}Modifier vos informations {{utilisateur.getFullName}}{% endblock %}

{% block body %}
{% if app.user %}
<div>
    <div>
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{path('mon_compte')}}">Mon compte</a></li>
                <li class="breadcrumb-item"><a href="{{path('mon_compte')}}">Mes informations</a></li>
                <li class="breadcrumb-item current-page"> <a href="{{path('user', {'id': utilisateur.id})}}">Modifier mes informations</a> </li>
            </ol>
        </nav>
    </div>
</div>
<div class="my-formular  example-wrapper">
    <h1 class="text-center">Modifier mes informations </h1>
    {{ include('utilisateur/_form.html.twig',) }}
    <div class="d-flex m-2">
    </div>
</div>
{% endif %}


{% endblock %}