{% extends 'base.html.twig' %}

{% block title %}Mes informations {{utilisateur.getFullName}}{% endblock %}

{% block body %}

<div class="my-formular">
    <h1 class="text-center m-4">Mes informations personnelles</h1>
    <table class="table">
        <tbody>
            <tr>
                <th>Nom</th>
                <td>{{ utilisateur.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ utilisateur.prenom}}</td>
            </tr>
            <tr>
                <th>Telephone</th>
                <td>{{utilisateur.telephone}}</td>
            </tr>
            <tr>
                <th>date de naissance</th>
                <td>{{utilisateur.datenaissance|date('d/m/Y')}}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ utilisateur.email }}</td>
            </tr>
        </tbody>
    </table>
    <div class="account-helper m-3">
        <a href=" {{ path('app_forgot_password_request') }}" class="btn btn-primary m-2">Modifier votre mot de passe</a>
        <a href="{{ path('app_utilisateur_edit', {'id': utilisateur.id}) }}" class="btn btn-primary m-2">Modifier vos informations</a>
    </div>
</div>
{% endblock %}