{% extends 'base.html.twig' %}

{% block title %}Utilisateur{% endblock %}

{% block body %}
<h1>Utilisateur</h1>

<table class="table">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ utilisateur.id }}</td>
        </tr>
        <tr>
            <th>Email</th>
            <td>{{ utilisateur.email }}</td>
        </tr>
        <tr>
            <th>Roles</th>
            <td>{{ utilisateur.roles ? utilisateur.roles|json_encode : '' }}</td>
        </tr>
        <tr>
            <th>Password</th>
            <td>{{ utilisateur.password }}</td>
        </tr>
        <tr>
            <th>Nom</th>
            <td>{{ utilisateur.nom }}</td>
        </tr>
        <tr>
            <th>Prenom</th>
            <td>{{ utilisateur.prenom }}</td>
        </tr>
        <tr>
            <th>DateNaissance</th>
            <td>{{ utilisateur.dateNaissance ? utilisateur.dateNaissance|date('Y-m-d') : '' }}</td>
        </tr>
        <tr>
            <th>IsVerified</th>
            <td>{{ utilisateur.isVerified ? 'Yes' : 'No' }}</td>
        </tr>
        <tr>
            <th>Telephone</th>
            <td>{{ utilisateur.telephone }}</td>
        </tr>
    </tbody>
</table>

<a class="btn btn-primary" href="{{ path('user', {'id': utilisateur.id}) }}">Retour</a>

<a class="btn btn-primary" href="{{ path('app_utilisateur_edit', {'id': utilisateur.id}) }}">Modifier</a>



{% endblock %}