{% extends 'base.html.twig' %}

{% block title %}Mon panier{% endblock %}

{% block body %}
<div class="container">
    <h2 class="text-center m-5">Récapitulatif de ma commande</h2>
    <p class="text-center m-5">Choisissez votre adresse de livraison et le mode de livraison.</p>
    <hr>
    <div class="row">
        <div class="col-md-6">
            {% set formHtml %}
            {{form_start(form, {action: path('recapitulatif')})}}
            <a href="{{path('app_adresse_livraison_new')}}">Créer une nouvelle adresse de livraison</a> <br>
            <a href="{{path('app_adresse_facturation_new')}}">Créer une nouvelle adresse de facturation</a>
            {{form_end(form)}}
            {% endset %}
            {{ formHtml|replace({'[br]' : '<br/>', '[€]' : '€'})|raw }}
        </div>
        <div class="col-md-6 ">
            <h5 class="text-center">Récapitulatif de mon panier</h5><br>
            <div class="confirm-section">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Produit</th>
                            <th></th>
                            <th scope="col">Quantité</th>
                            <th scope="col">Prix</th>
                            <th scope="col">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% set total = null %}
                        {% for key,produit in panier %}
                        <tr class="{% if key > 0 %} m-2 {% endif %}">
                            <td><img src="/uploads/{{produit.produit.image}}" alt=" image du produit: {{produit.produit.nom}}" style="width:17px;"></td>
                            <td>{{produit.produit.nom}}</td>
                            <td> {{produit.quantite}}</td>
                            <td>{{produit.produit.MontantHt}}€ </td>
                            <td>{{ produit.produit.MontantHt * produit.quantite}}€ </td>
                        </tr>
                        {% set total = total + (produit.produit.montantHt * produit.quantite) %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}