{% extends 'base.html.twig' %}

{% block title %}Mes commandes{% endblock %}

{% block body %}
<div>
    <div>
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{path('index')}}">Accueil</a></li>
                <li class="breadcrumb-item current-page"> <a href="{{path('mon_compte')}}"> Mon compte</a></li>
                <li class="breadcrumb-item current-page"><a href="{{path('app_commande_index')}}"> Mes commandes </a></li>
            </ol>
        </nav>
    </div>
</div>
<div class="text-center">
    <h1>Mes commandes</h1>
    <h4>Retrouvez toute vos commandes</h4>
</div>
{% if app.user.commande|length == 0 %}
<p>Vous n'avez pas encore de commande</p>

{% else %}
<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Numéro</th>
                <th scope="col">Date</th>
                <th scope="col">Etat</th>
                <th scope="col">Produit(s)</th>
                <th scope="col">Total</th>
                <th scope="col">Voir ma commande</th>
            </tr>
        </thead>
        <tbody>
            {% for commande in app.user.commande|reverse %}
            <tr>
                <th scope="row">{{commande.id}}</th>
                <td>{{commande.dateCommande|date('d-m-Y')}}</td>
                <td>{{commande.etat}}</td>
                <td>v</td>
                <td>{{commande.transporteurTarif + commande.totalPurchase|number_format(2) }}€</td>
                <td><a href="{{path('app_commande_show', {'id': commande.id})}}">Voir</a></td>
            </tr>
            {% endfor %}




        </tbody>
    </table>
</div>

{% endif %}
{% endblock %}