{% extends 'base.html.twig' %}

{% block title %}Commande{% endblock %}

{% block body %}
<div>
    <div>
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{path('index')}}">Accueil</a></li>
                <li class="breadcrumb-item current-page"> <a href="{{path('app_commande_index')}}"> Mon compte</a></li>
                <li class="breadcrumb-item current-page"><a href="{{path('app_commande_index')}}"> Mes commandes</a></li>
                <li class="breadcrumb-item current-page"><a href="{{path('app_commande_show',{'id': commande.id})}}"> Ma commande n° {{commande.id}}</a></li>
            </ol>
        </nav>
    </div>
</div>
<h1 class="text-center m-5">Details de ma commande n°{{commande.getOrderNumber }} </h1>
<div class="container">
    <hr>
    <strong> Date de commande : {{ commande.dateCommande ? commande.dateCommande|date('d m Y') : '' }}</strong> <br>
    <strong> Référence : {{commande.getOrderNumber }} </strong><br>
    <strong> Transporteur : {{commande.transporteurNom}}</strong> <br>
    <strong>Retrouve le suvi de ta commande : </strong> <br>
    <strong> Etat : {{commande.etat}}</strong> <br>
    <hr>
    <h5 class="text-center m-5"> Les details de votre commande </h5>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Produit</th>
                <th scope="col">Quantité</th>
                <th scope="col">Prix unitaire</th>
                <th>TVA unitaire</th>
                <th scope="col">Sous total</th>
            </tr>
        </thead>
        <tbody>
            {% for  produit in commande.commandeProduits %}
            <tr>
                <th>{{produit.monProduit}}</th>
                <td>{{produit.quantite}}</td>
                <td>{{produit.prix|number_format(2)}} €</td>
                <td>{{(0.20 * produit.prix)/(1 + 0.20)|round|number_format(2) }} €</td>
                <td>{{ produit.total|number_format(2)}} €</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div class="text-center m-5">
    <strong> Livraison : </strong>{{ commande.transporteurNom}} - {{ commande.transporteurTarif|number_format(2)}} € <br>
    <strong> TVA : </strong>{{(0.20 * commande.totalPurchase)/(1 + 0.20)|round|number_format(2)}} €<br>
    <strong> Total :</strong> {{ commande.totalPurchase|number_format(2) + commande.transporteurTarif|number_format(2)}} € <br>
</div>

<div class="text-center">

    <p>Besoin d'une facture ? <a href="{{path('facture', {'id': commande.id})}}"><img style="width: 35px;" src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/87/PDF_file_icon.svg/1200px-PDF_file_icon.svg.png" alt=""></a></p>
</div>

{% endblock %}