{% extends "facture.html.twig" %}

{% block body %}
<h2> The boutiq ! | Votre facture n°{{facture.getOrderNumber}}</h2>
<hr>
<div>
    <strong>THEBOUTIQ! <br> 9 boulevard de la boissiere <br> 93130 Noisy-Le-Sec <br> FR <br> TVA: FR87898258728 <br> SIRET: 89825872800028 <br> Capital social : 4500 euros </strong>
</div>
<h3>Votre adresse de livraison :</h3>
<p>{{facture.livraisonAdresse|raw}}</p>
<h3 class="right">Votre adresse de facturation :</h3>
<p class="right">{{facture.facturationAdresse|raw}}</p>
<div class="produit">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Produit</th>
                <th scope="col">Quantité</th>
                <th scope="col">Prix unitaire</th>
                <th scope="col">TVA unitaire</th>
                <th scope="col">Sous total</th>
            </tr>
        </thead>
    </table>
    {% for produit in facture.commandeProduits %}
    <span class="margin">{{produit.monProduit}}</span>
    <span class="margin">{{produit.prix|number_format(2)}} €</span>
    <span class="margin">{{(0.20 * produit.prix)/(1 + 0.20)|round|number_format(2) }} €</span>
    <span class="margin">{{ produit.total|number_format(2)}} €</span><span></span>
</div>
<h3>Les informations de livraison : </h3>
<p>{{facture.TransporteurNom}}</p>
<p>{{facture.TransporteurTarif}}</p>

<h2 style="text-decoration: bold;">Total : {{ produit.total + facture.TransporteurTarif }}</h2>
{% endfor %}
<hr>
<div>
    <H2 style="color: red;"><strong>{{facture.etat}}</strong></H2>
</div>
{% endblock %}

{% block css %}
<style>
    .margin {
        margin-right: 50px;
    }

    h2 {
        color: brown;
        font-weight: bolder;
        text-align: center;
        margin-bottom: 20px;
    }

    p {
        text-align: left;
    }

    .produit {
        margin: 100px;
    }

    .right {
        text-align: right;
    }
</style>
{% endblock %}