{% extends 'base.html.twig' %}

{% block title %}Mon adresse de livraison{% endblock %}

{% block body %}


<div class="my-formular example-wrapper">
    <h1 class="text-center m-5">Mes adresses de livraison</h1>
    {% if app.user.adresseLivraison|length == 0 %}
    <p class="text-center"> Vous n'avez pas encore ajouté d'adresse de Facturation. Pour en ajouter une, veuillez <a href="{{path('app_adresse_livraison_new')}}">cliquer ici.</a></p>
    {% else %}

    <div class="row">
        {% for adresse_livraison in app.user.adresseLivraison %}
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">

                <div class="card-body">
                    <h5 class="card-title">{{ adresse_livraison.nom }}</h5>
                    <p class="card-text">{{adresse_livraison.numeroRue}} - {{adresse_livraison.rue}} <br> {{adresse_livraison.codepostal}} - {{adresse_livraison.ville}} <br>{{adresse_livraison.pays}}</p>
                    <a class="btn btn-info" href="{{ path('app_adresse_livraison_show', {'id': adresse_livraison.id}) }}">Details</a>
                    <a class="btn btn-info" href="{{ path('app_adresse_livraison_edit', {'id': adresse_livraison.id}) }}">Modifier</a>
                    {{ include('adresse_livraison/_supprimer_form.html.twig') }}
                </div>
            </div>

        </div>


        {% endfor %}
        {% endif %}
    </div>
    <a class="btn btn-primary m-3" href="{{ path('app_adresse_livraison_new') }}">Créer une nouvelle adresse</a>
</div>
{% endblock %}