{% extends 'base.html.twig' %}

{% block title %}AdresseLivraison{% endblock %}

{% block body %}
<div class="my-formular example-wrapper">


    <h1 class="text-center">Adresse de livraison</h1>
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ adresse_livraison.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ adresse_livraison.nom }}</td>
            </tr>
            <tr>
                <th>NumeroRue</th>
                <td>{{ adresse_livraison.numeroRue }}</td>
            </tr>
            <tr>
                <th>Rue</th>
                <td>{{ adresse_livraison.rue }}</td>
            </tr>
            <tr>
                <th>Codepostal</th>
                <td>{{ adresse_livraison.codepostal }}</td>
            </tr>
            <tr>
                <th>Ville</th>
                <td>{{ adresse_livraison.ville }}</td>
            </tr>
            <tr>
                <th>Pays</th>
                <td>{{ adresse_livraison.pays }}</td>
            </tr>
            <tr>
                <th>Infocomplementaire</th>
                <td>{{ adresse_livraison.infocomplementaire }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_adresse_livraison_index') }}" class="btn btn-primary">Retour</a>

    <a href="{{ path('app_adresse_livraison_edit', {'id': adresse_livraison.id}) }} " class="btn btn-primary">Modifier</a>

</div>
{% endblock %}