{% extends 'base.html.twig' %}

{% block title %}AdresseLivraison{% endblock %}

{% block body %}
<div>
    <div>
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{path('mon_compte')}}" class="nav-links">Accueil</a></li>
                <li class="breadcrumb-item"> <a href="{{path('app_adresse_livraison_index')}}" class="nav-links">Mes adresses de livraison</a> </li>
                <li class="breadcrumb-item"> <a href="{{path('app_adresse_livraison_show', {'id': adresse_livraison.id}) }}" class="nav-links">Mon adresse de livraison </a> </li>
            </ol>
        </nav>
    </div>
</div>

<div class="my-formular example-wrapper">


    <h1 class="text-center">Adresse de livraison</h1>
    <table class="table">
        <tbody>
            <tr>
                <th>Nom</th>
                <td>{{ adresse_livraison.nom }}</td>
            </tr>
            <tr>
                <th>NumeroRue</th>
                <td>{{ adresse_livraison.numeroRue }}</td>
            </tr>
            <tr>
                <th>Rue</th>
                <td>{{ adresse_livraison.rue }}</td>
            </tr>
            <tr>
                <th>Codepostal</th>
                <td>{{ adresse_livraison.codepostal }}</td>
            </tr>
            <tr>
                <th>Ville</th>
                <td>{{ adresse_livraison.ville }}</td>
            </tr>
            <tr>
                <th>Pays</th>
                <td>{{ adresse_livraison.pays }}</td>
            </tr>
            <tr>
                <th>Infocomplementaire</th>
                <td>{{ adresse_livraison.infocomplementaire }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_adresse_livraison_index') }}" class="btn btn-info">Retour</a>

    <a href="{{ path('app_adresse_livraison_edit', {'id': adresse_livraison.id}) }} " class="btn btn-info">Modifier</a>

</div>
{% endblock %}