<h2 class="text-center"> Vous avez recu un email de demande d'informations de <a href="mailto:{{FromEmail}}"> {{FromEmail}}</a>:</h2>

<p>Nom : {{nom}}</p>
<p>Prenom : {{prenom}}</p>
<p> Message : {{message}}</p>
<p> Email : {{FromEmail}}</p>