{{ form_start(form) }}
<div class="row">
    <div class="col-md-6">{{ form_row(form.nom)}}</div>
    <div class="col-md-6">{{ form_row(form.nom_prenom)}}</div>
    <div class="col-md-6">{{ form_row(form.societe)}}</div>
    <div class="col-md-6">{{ form_row(form.numero_rue)}}</div>
    <div class="col-md-6">{{ form_row(form.rue)}}</div>
    <div class="col-md-6">{{ form_row(form.codepostal)}}</div>
    <div class="col-md-6">{{ form_row(form.ville)}}</div>
    <div class="col-md-6">{{ form_row(form.pays)}}</div>
    <div class="col-md-12">{{ form_row(form.infocomplementaire)}}</div>
</div>
{{ form_end(form) }}