{% extends 'base.html.twig' %}

{% block title %}AdresseFacturation{% endblock %}

{% block body %}
<div>
    <div>
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{path('mon_compte')}}" class="nav-links">Mon compte</a></li>
                <li class="breadcrumb-item current-page"> <a href="{{path('app_adresse_facturation_index')}}" class="nav-links">Mes adresses de facturation</a> </li>
                <li class="breadcrumb-item current-page"> <a href="{{path('app_adresse_facturation_show', {'id': adresse_facturation.id})}}" class="nav-links">Mon adresse de facturation</a> </li>
            </ol>
        </nav>
    </div>
</div>
<div class="my-formular example-wrapper">
    <h1 class="text-center">Votre adresse de facturation</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Nom</th>
                <td>{{ adresse_facturation.nom }}</td>
            </tr>
            <tr>
                <th>Numero de rue</th>
                <td>{{ adresse_facturation.numeroRue }}</td>
            </tr>
            <tr>
                <th>Rue</th>
                <td>{{ adresse_facturation.rue }}</td>
            </tr>
            <tr>
                <th>Code postal</th>
                <td>{{ adresse_facturation.codepostal }}</td>
            </tr>
            <tr>
                <th>Ville</th>
                <td>{{ adresse_facturation.ville }}</td>
            </tr>
            <tr>
                <th>Pays</th>
                <td>{{ adresse_facturation.pays }}</td>
            </tr>
            <tr>
                <th>Information complementaire</th>
                <td>{{ adresse_facturation.infocomplementaire }}</td>
            </tr>
        </tbody>
    </table>
    <div class="d-flex">

        <a href="{{ path('app_adresse_facturation_edit', {'id': adresse_facturation.id}) }}" class="btn btn-info m-2">Modifier</a>

        {{ include('adresse_facturation/_delete_form.html.twig') }}
    </div>
</div>

{% endblock %}