{% extends 'base.html.twig' %}
{% block title %} Paiement validé{% endblock %}

{% block body %}
<div class="payment">
    <h2>Paiement accepté</h2> <br>
    <h5 class=" text-center"> Cher {{ commande.utilisateur.prenom}}, votre commande n°{{commande.id}} est bien enregistrée </h5> <br>
    <p class=" text-center"><b>Retrouvez la dans votre compte onglet <a href="{{path('app_commande_index')}}">mes commandes</a></b> </p>
    <p class=" text-center"> <b> Vous allez recevoir un email de confirmation à l'adresse email suivante : {{commande.utilisateur.email}} </b></p>
    <div class="text-center m-5">
        <p> <strong> Votre facture </strong><a href="{{path('facture', {'id': commande.id})}}"><img style="width: 35px;" src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/87/PDF_file_icon.svg/1200px-PDF_file_icon.svg.png" alt=""></a></p>
    </div>
</div>



{% endblock %}